@model IEnumerable<Category>
<h1>Categories</h1>

@if (TempData["success"] is not null)
{
    <div class="alert alert-success">
        @TempData["success"]
    </div>
}
@if (TempData["error"] is not null)
{
    <div class="alert alert-danger">
        @TempData["error"]
    </div>
}

<a asp-controller="Category" asp-action="Create" class="btn btn-primary">Create Category</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Category ID
            </th>
            <th>
                Category Name
            </th>
            <th>
                Description
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach(var category in Model) {
            <tr>
                <td>
                    @category.CategoryId
                </td>
                <td>
                    @category.CategoryName
                </td>
                <td>
                    @category.Description
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@category.CategoryId" class="btn btn-warning">Update</a>
                    <a asp-action="Delete" asp-route-id="@category.CategoryId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>